body {
  box-sizing: border-box;
  height: 100vh;
}
.content {
  width: 100%;
}
.content-title .price {
  color: red;
}
.content-title .price::after {
  content: " LE";
}
.content-details {
  border-left: 5px solid red;
  border-radius: 10px;
  padding: 15px;
}
.content-details h2 {
  color: #666666;
}
.content-details span {
  color: #666666cc;
}
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f8f9fa;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
